root = true

[*.{ts,js}]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = null

[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
max_line_length = 79

[*.json]
indent_size = 2
insert_final_newline = ignore

[*.yml]
indent_style = space
indent_size = 2
end_of_line = LF

[Makefile]
indent_style = tab
